<div class="card">
        <h1>{{post.name}}</h1>
        <h3>{{post.user}}</h3>
        <p>{{post.description}}</p>
      </div>

<br>
<h1>Comments:</h1>
<hr>

<div class="card">
      <h3>Suri</h3>
      <p>Great job</p>
</div>
<div class="card">
      <h3>Alekhya</h3>
      <p>Nice</p>
</div>
<br>
<form class="comment">
      <textarea name="commentText" id="" cols="71" rows="5">
      </textarea><br>
      <button type="submit">Add your comment</button>
</form>